.row {
    width: 550px;
    height: 400px;
    margin-left: 35%;
    margin-top: 5%;
    border: 3px solid black;
    padding: 15px;
}

input {
    width: 100%;
}

button {
    width: 100%;
    font-weight: bold;
}

h1 {
    text-align: center;
}
