body {
    background-color: aquamarine;
}

.col-md-5 {
    margin-top: 150px;
    border: 5px solid black;
    padding: 25px;
    background-color: white;
}

#taskName {
    width: 90%;
    display: inline;
    margin-right: 15px;
}

#taskListContentItems {
    display: inline;
}

button {
    display: inline;
}

input {
    display: inline !important;
    margin-bottom: 20px;
}

i {
    color: red;
    cursor: pointer;
}

p {
    display: inline;
    margin: 20px;
}