* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

/* text inside the pictures */
.innerText {
  margin: auto;
  width: 25%;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  font-family: cursive;
}

/* box in the top left */
.box {
  display: inline-block;
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("beatles.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transition: transform 1s ease-out;
}
.box:hover {
  transform: rotate(180deg);
}

.box2 {
  display: inline-block;
  margin-left: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("banana.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transition: transform 1s ease-out;
}
.box2:hover {
  transform: scale(2);
}

.box3 {
  display: inline-block;
  margin-left: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("triangle.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transition: transform 1s ease-out;
}
.box3:hover {
  transform: translate(70px);
}

.box4 {
  display: inline-block;
  margin-left: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("zeppelin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transition: transform 1s ease-out;
}
.box4:hover {
  transform: skew(40deg);
}

.box5 {
  display: inline-block;
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-image: url("beatles2.jpeg");

  background-repeat: no-repeat;
  border: 5px solid #fff;
  animation-name: box5;
  animation-duration: 3s;
}

@keyframes box5 {
  0% {
    background: yellow;
  }
  /* Adding a step in the middle */
  25% {
    background: rgb(43, 255, 0);
  }
  50% {
    background: rgb(0, 204, 255);
  }
  100% {
    background: rgb(0, 47, 255);
  }
}

.box6 {
  display: inline-block;
  position: relative;
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("biggie.jpeg");
  border: 5px solid #fff;
  animation-name: box6;
  animation-duration: 5s;
}

@keyframes box6 {
  0% {
    background-image: url("biggie.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
  }
  25% {
    background-image: url("biggie2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 200px;
    top: 0px;
  }
  50% {
    background-image: url("biggie3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 200px;
    top: 200px;
  }
  75% {
    background-image: url("biggie4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 0px;
    top: 200px;
  }
  100% {
    background-image: url("biggie.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
  }
}

.box7 {
  display: inline-block;
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background: yellow;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
}
.box7:hover {
  background-image: url("nevermind.jpg");
}

.box8 {
  display: inline-block;
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("rumors.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  position: relative;
  animation-name: box8;
  animation-duration: 4s;
  animation-delay: s;
}

@keyframes box8 {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

.hvr-grow {
  display: inline-block;
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("nurse.jpeg");
  transform: perspective(20px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  animation-name: hvr-grow;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes hvr-grow {
  25% {
    transform: scale(2);
  }
  75% {
    transform: scale(0.5);
  }
}

.box10 {
  display: inline-block;
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("elvis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.box10:hover,
.box10:focus,
.box10:active {
  transform: translateY(150px);
}

.box11 {
  display: inline-block;
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("flash.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.box11:hover {
  transform: skew(20deg);
}

@keyframes box11 {
  16.65% {
    transform: translateY(20px);
  }
  33.3% {
    transform: translateY(-16px);
  }
  49.95% {
    transform: translateY(14px);
  }
  66.6% {
    transform: translateY(-12px);
  }
  83.25% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

.box11:hover,
.box11:focus,
.box11:active {
  animation-name: box11;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
}

.box12 {
  display: inline-block;
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("guitar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.box12:hover {
  transform: skew(-20deg);
}

.box12:hover,
.box12:focus,
.box12:active {
  animation-name: box12;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes box12 {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}

.box13 {
  display: inline-block;
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("rain.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.box13:hover,
.box13:focus,
.box13:active {
  animation-name: box13;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes box13 {
  10% {
    transform: translateX(5px) rotate(4deg);
  }
  20% {
    transform: translateX(-5px) rotate(-4deg);
  }
  30% {
    transform: translateX(4px) rotate(3deg);
  }
  40% {
    transform: translateX(-4px) rotate(-3deg);
  }
  50% {
    transform: translateX(3px) rotate(2deg);
  }
  60% {
    transform: translateX(-3px) rotate(-2deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0);
  }
  100% {
    transform: translateX(0px) rotate(0);
  }
}

.box14 {
  display: inline-block;
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("moutains.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.box14:hover,
.box14:focus,
.box14:active {
  transform: translateX(-100px);
}

.box15 {
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("jeans.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}
.box15:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.box15:hover,
.box15:focus,
.box15:active {
  color: white;
}
.box15:hover:before,
.box15:focus:before,
.box15:active:before {
  transform: scaleX(1);
}

.box16 {
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("war.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  display: inline-block;
}
.box16:hover {
  transform: scale(1.5);
}

.box17 {
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("drum.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  /* transition: transform 1s ease-out; */
  display: inline-block;
}
.box17:hover {
  transform: scale(-.5);
}

.box18 {
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("zipper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transition: transform 1s ease-out;
  display: inline-block;
}
.box18:hover {
  transform: skew(40deg);
}

.box19 {
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("fire.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transition: transform 1s ease-out;
  display: inline-block;
}
.box19:hover {
  transform: skew(40deg);
}

.box20 {
  margin-left: 140.8px;
  margin-top: 140.8px;
  height: 300px;
  width: 300px;
  background-image: url("monk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transition: transform 1s ease-out;
  display: inline-block;
}
.box20:hover {
  transform: skew(40deg);
}
