* {
    color: white;
    font-size: 55px;
}

.input {
   background-color: black; 
   width: 531px;
   height: 125px;
   margin-bottom: 10px;
}

#calculator-body {
    display: block;
    margin-left: 35%;
    margin-top: 3%
}

button {
    width: 125px;
    height: 125px;
    cursor: pointer;
    margin-bottom: 10px;
}

.math {
    background-color: red;
}

.number {
    background-color: gray;
}

#reset {
    background-color: lightblue;
}

#result { 
    background-color: lightgreen;
}