body {
    background-color: lightblue !important;
}

.col-md-5 {
    margin-top: 150px;
    background-color: white;
    padding: 15px 0px 100px 0px;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

input {
    width: 75%;
}

li {
    list-style-type: none;
    display: inline;
    justify-content: flex-end;
}

i {
    color: red;
    margin-left: 25px;
    cursor: pointer;
}