<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body id="body">

    <!-- <p>{{ filteredBooks }}</p> -->

    <h1>{{ title }}</h1>
    <h3>This page was written by {{ author }}.</h3>
    <h4>He loves himself some tasty tasty {{ candy }}. He eats <button v-on:click="amount++">{{ amount }}</button> a day, but he should resist his craving so he puts <button v-on:click="amount--">one</button> one back.</h4> 
    <!-- <h1>If you want to change the title...</h1>
    <h2 @click="title = 'Look At It Change'">here</h2> -->
    <h2 @click="changeTitle1">here</h2>
    <h2 v-if="changeTitle">Hide</h2>
    <!-- <h2 v-if="!changeTitle">Show</h2> -->
    <h2 v-else>Show</h2>

    <button @click="toggleShowBooks">
      <span>Toggle Change</span>
    </button>

    <hr>

    <div class="box" id="mouseover" @mouseover="handleEvent">Mouse Over</div>
    <div class="box" @mouseleave="mouseLeave">{{ mouseLeaves }}</div>
    <div class="box" @dblclick="handleEvent">{{ test }}</div>
    <div class="box" @mousemove="handleMouseMove">Mouse Move - {{ x }} & {{ y }}</div>

    <hr>

    <div>
      <!-- method one -->
      <div v-if="showBooks">
        <p>{{ books[0].title }} - {{ books[0].author }}</p>
        <p>{{ books[1].title }} - {{ books[1].author }}</p>
        <p>{{ books[2].title }} - {{ books[2].author }}</p>
      </div>
      <hr>
      <div v-if="showBooks">
        <ul>
          <!-- each book in the books array-->
          <li @click="toggleFav(book)" v-for="book in filteredBooks" :class="{ fav: book.isFav }">
            <img :src="book.img" :alt="book.title"> 
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
