* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
}

body {
  margin: 0;
}

#app {
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: red;
}

label, input {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
  font-size: 25px;
}

#goal {
  margin: 1rem 0;
  padding: 1rem;
  margin-top: 2rem;
}

label {
  font-weight: bold;
  color: white;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: blue;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

button {
  margin: 1rem 0;
  padding: 1rem;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 5px;
  box-shadow: none;
  font-size: 15px;
}