.button {
    font: inherit;
    border: 1px solid rgb(3, 110, 252);
    background: rgb(3, 110, 252);
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: rgb(3, 110, 252);
    border-color: rgb(3, 110, 252);
  }
  
  .button:focus {
    outline: none;
  }